*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #575757;
}
.first_box {
    width: 300px;
    height: 500px;
    border-radius: 30px;
    border: solid pink 5px;
    padding: 30px 18px;
    margin-bottom: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.first_box h2{
    text-align: center;
    margin-bottom: 20px;
    display: inline-block;
    font-family: "Merriweather", serif;
}
.first_box2 {
    width: 300px;
    height: 500px;
    border-radius: 30px;
    border: solid aqua 5px;
    padding: 30px 18px;
    margin-bottom: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.first_box2 h2{
    text-align: center;
    margin-bottom: 20px;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-family: "Merriweather", serif;
}
.second_para {
    color: rgba(134, 134, 134, 0.614);
    margin-bottom: 20px;

}
.price1 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;

}
.price2 {
    font-weight: bold;
    font-size: 30px;
    color: #000000;
    margin-bottom: 20px;
    text-decoration: line-through;
}
.first_btn {
    width: 260px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    background-color: #ff1212;
    margin-bottom: 20px;
}
.first_btn2 {
    width: 260px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    background-color: #ffea00;
    margin-bottom: 20px;
}
.first_btn3 {
    width: 260px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    background-color: #034aff;
    margin-bottom: 20px;
}
.first_btn4 {
    width: 260px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    background-color: #dd00ff;
    margin-bottom: 20px;
}
.first_btn:hover{
    background-color: #000000;
    color: #fff;
    font-weight: bold;
}
.first_btn2:hover{
    background-color: #000000;
    color: #fff;
    font-weight: bold;
}
.first_btn3:hover{
    background-color: #000000;
    color: #fff;
    font-weight: bold;
}
.first_btn4:hover{
    background-color: #000000;
    color: #fff;
    font-weight: bold;
}
.saves {
    background-color: bisque;
    color: #000;
    font-size: 18px;
    margin-bottom: 20px;
    display: inline-block;
}
.icons {
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
}
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}